@font-face {
    font-family: "MS Sans Serif";
    src: url("./MSW98UI-Regular.ttf");
}

@font-face {
    font-family: "single day";
    src: url("./SingleDay-Regular.ttf");
}

@font-face {
    font-family: 'alegard';
    src: url('./alagard.ttf');
}